[OSEv3:vars]


###########################################################################
### OpenShift Hosts
###########################################################################
[OSEv3:children]
lb
masters
etcd
nodes
nfs
#glusterfs

[lb]
loadbalancer1.{{ ansible_local.opentlc.guid }}.internal

[masters]
master1.{{ ansible_local.opentlc.guid }}.internal
master2.{{ ansible_local.opentlc.guid }}.internal
master3.{{ ansible_local.opentlc.guid }}.internal

[etcd]
master1.{{ ansible_local.opentlc.guid }}.internal
master2.{{ ansible_local.opentlc.guid }}.internal
master3.{{ ansible_local.opentlc.guid }}.internal

[nodes]
## These are the masters
master1.{{ ansible_local.opentlc.guid }}.internal openshift_hostname=master1.{{ ansible_local.opentlc.guid }}.internal openshift_node_labels="{'env':'master', 'cluster': '{{ ansible_local.opentlc.guid }}'}"
master2.{{ ansible_local.opentlc.guid }}.internal openshift_hostname=master2.{{ ansible_local.opentlc.guid }}.internal openshift_node_labels="{'env':'master', 'cluster': '{{ ansible_local.opentlc.guid }}'}"
master3.{{ ansible_local.opentlc.guid }}.internal openshift_hostname=master3.{{ ansible_local.opentlc.guid }}.internal openshift_node_labels="{'env':'master', 'cluster': '{{ ansible_local.opentlc.guid }}'}"

## These are infranodes
infranode1.{{ ansible_local.opentlc.guid }}.internal openshift_hostname=infranode1.{{ ansible_local.opentlc.guid }}.internal  openshift_node_labels="{'env':'infra', 'cluster': '{{ ansible_local.opentlc.guid }}'}"
infranode2.{{ ansible_local.opentlc.guid }}.internal openshift_hostname=infranode2.{{ ansible_local.opentlc.guid }}.internal  openshift_node_labels="{'env':'infra', 'cluster': '{{ ansible_local.opentlc.guid }}'}"

## These are regular nodes
node1.{{ ansible_local.opentlc.guid }}.internal openshift_hostname=node1.{{ ansible_local.opentlc.guid }}.internal  openshift_node_labels="{'env':'app', 'cluster': '{{ ansible_local.opentlc.guid }}'}"
node2.{{ ansible_local.opentlc.guid }}.internal openshift_hostname=node2.{{ ansible_local.opentlc.guid }}.internal  openshift_node_labels="{'env':'app', 'cluster': '{{ ansible_local.opentlc.guid }}'}"
node3.{{ ansible_local.opentlc.guid }}.internal openshift_hostname=node3.{{ ansible_local.opentlc.guid }}.internal  openshift_node_labels="{'env':'app', 'cluster': '{{ ansible_local.opentlc.guid }}'}"

## These are CNS nodes
# support1.{{ ansible_local.opentlc.guid }}.internal openshift_hostname=support1.{{ ansible_local.opentlc.guid }}.internal  openshift_node_labels="{'env':'glusterfs', 'cluster': '{{ ansible_local.opentlc.guid }}'}"

[nfs]
support1.{{ ansible_local.opentlc.guid }}.internal openshift_hostname=support1.{{ ansible_local.opentlc.guid }}.internal

#[glusterfs]
# support1.{{ ansible_local.opentlc.guid }}.internal glusterfs_devices='[ "/dev/xvdd" ]'
